* {
    font-family: "Lato";
}

.bg-primary-color {
    background-color: #fff;
}

.bg-secondary-color {
    background-color: #ece8ea;
}

.bg-dark-color {
    background-color: black;
}

.primary-color {
    color: #050505;
}

.secondary-color {
    color: #7a7a7a;
}


/*NAVBAR*/

#navbar {
    border-bottom: 1px solid #7a7a7a;
}

#navbar a:hover {
    color: blue;
}

#navbar a.active {
    border-bottom: 1px solid #050505;
}

.navbar-brand {
    display: flex;
}

.navbar-brand img {
    width: 40px;
}

.navbar-brand span {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item {
    margin: 0 1em;
}


/*Slide*/

#slider {
    margin-top: 8em;
    margin-bottom: 1em;
}

#slider .carousel-caption {
    bottom: 3em;
}

#slider .carousel-caption h5 {
    font-size: 2.5em;
    text-shadow: #000 2px 2px;
}

.btn {
    border-radius: 0;
}

#slider.btn {
    padding: 0.3 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

.carousel-control-prev i,
.carousel-control-next i {
    color: #111;
    font-size: 3em;
}

.carousel-indicators[data-bs-target] {
    background-color: #222;
    opacity: 0.8;
}

.carousel-indicators .active {
    background-color: #000;
}

@media(min-width:768px) {
    #slider .carousel-caption {
        bottom: 15em;
    }
    #slider .carousel-caption h5 {
        font-size: 4em;
        text-shadow: #000 2px 3px;
    }
    .carousel-indicators {
        bottom: 7em;
    }
}

.pacotes {
    background: #f7f8fa;
    padding: 15px;
}

.pacotes .pacotes-cards {
    display: flex;
    margin: auto;
    max-width: 950px;
    flex-wrap: wrap;
}

.pacotes .pacotes.title {
    width: auto;
    margin: auto;
    text-align: center;
}

.pacotes .card {
    width: 250px;
    height: 280px;
    border-radius: 24px 0px;
    margin: 25px auto;
    position: relative;
}

.pacotes .card-image {
    width: 250px;
    height: 100 px;
}

.card .card-content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 10px;
}

.card .card-content h1 {
    font-size: 1rem;
}

.pacotes .card .card-tag-top {
    position: absolute;
    right: 0;
    top: 15px;
    background: #f19839;
    border-radius: 8px 0 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag-botton {
    position: absolute;
    left: 0;
    top: 100px;
    background: #1061dd;
    border-radius: 0 8px 0 8px;
    padding: 5px 10px;
}

.pacotes .card .card-tag p {
    margin: 0;
    font-size: 0.8rem;
    color: white;
    font-weight: bold;
}


/*FOOTER TOP */

#footer {
    padding: 3em 2em;
}

#footer-top {
    margin-bottom: 2em;
}

#footer-top,
#footer-top i {
    color: white;
}

#social-icons {
    text-align: right;
}

#social-icons i {
    margin-right: 1rem;
    font-size: 1.5em;
    cursor: pointer;
}

#social-icons i:hover {
    color: #7a7a7a;
}


/*FOOTER DETAILS*/

#footer-details {
    margin-bottom: 3em;
}

#news-container,
#contact-container,
#links-container {
    padding: 0;
    border: 0;
    margin-bottom: 2em;
}

#footer-details h4 {
    color: white;
    margin-bottom: 1.5em;
}

#news-container input {
    border-radius: 0;
    border: none;
}

#links-container li {
    margin-bottom: 0.5em;
}

#links-container a {
    text-decoration: none;
}

#links-container a:hover {
    color: #fff;
}


/*FOOTER BOTTOM*/

#footer-bottom {
    border-top: 1px solid #7a7a7a;
    padding-top: 2em;
}

@media(min-width:768px) {
    #news-container {
        padding-right: 2em;
    }
    #links-container {
        padding-left: 2em;
    }
    #contact-container {
        padding: 0 2em;
        border-left: 1px solid #7a7a7a;
        border-right: 1px solid #7a7a7a;
    }
}